@model Otopark_Uygulmasi.Models.db.araclar
@using Otopark_Uygulmasi.Models.db

@{
    ViewBag.Title = "AracGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col m12">
            <h4 class="center">Araç Bilgilerini Güncelle</h4>
            <p class="center light">Verilerinizi Güncelleyebilirsiniz.</p>
            <hr />
            @using (Html.BeginForm("AracıGuncelle", "Arac", FormMethod.Post))
            {
                @Html.TextBoxFor(m => m.aracId, new { @class = "validate hide" })
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        @Html.TextBoxFor(m => m.aracPlaka, new { @placeholder = "Plaka", @class = "" })
                        <label for="aracPlaka"></label>
                    </div>
                    <div class="input-field col s6">
                        @Html.TextBoxFor(m => m.aracMarka, new { @placeholder = "Marka", @class = "" })
                        <label for="aracMarka"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        @Html.TextBoxFor(m => m.aracRenk, new { @placeholder = "Renk", @class = "" })
                        <label for="aracRenk"></label>
                    </div>
                    <div class="input-field col s6">
                        @Html.TextBoxFor(m => m.kisiId, new { @placeholder = "Arac Sahibi", @class = "" })
                        <label for="kisiId"></label>
                    </div>
                </div>
                <div class="col center m12 s12">
                    <button class="waves-effect waves-light btn btn-small red lighten-2"><i class="material-icons left">chevron_right</i><i class="material-icons right">chevron_left</i>Güncelle</button>
                </div>
            }

        </div>
    </div>
</div>