@model Otopark_Uygulmasi.Models.db.giris

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />

</head>

<body class="bg-gradient-primary">
    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
    <fieldset>
        <div class="container">
            <legend style="color:brown">Kullanıcı Giriş Ekranı</legend>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @if (@ViewBag.Message != null)
            {
                <div style="border: 1px solid red">
                    @ViewBag.Message
                </div>
            }
            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                        </div>
                                        <form class="user">
                                            <div class="form-group">
                                                @Html.LabelFor(a => a.kullaniciAd)
                                                @Html.TextBoxFor(a => a.kullaniciAd)
                                                @Html.ValidationMessageFor(a => a.kullaniciAd)
                                            </div>
                                            <div class="form-group">

                                                @Html.LabelFor(a => a.kullaniciSifre)
                                                @Html.PasswordFor(a => a.kullaniciSifre)
                                                @Html.ValidationMessageFor(a => a.kullaniciSifre)
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                                    <label class="custom-control-label" for="customCheck">
                                                        Remember
                                                        Me
                                                    </label>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary btn-user btn-block" type="submit">Login</button>
                                            <br />
                                            <p>kullaniciAd: admin</p>
                                            <p>kullaniciSifre: 1234</p>
                                            <hr>
                                        </form>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </fieldset>
    }

            <!-- Bootstrap core JavaScript-->
            <script src="~/Scripts/js/jquery.min.js"></script>
            <script src="~/Scripts/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="~/Scripts/js/jquery.easing.min.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="~/Scripts/js/sb-admin-2.min.js"></script>

    </body>

</html>